*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(109, 6, 236), rgba(117, 34, 121, 0.804));
}
.container{
    background-color: rgba(53, 198, 40, 0.763);
    padding: 2rem;
    border-radius: 5px;
    min-height: 45vh;
    width: 40vh;
}
form{
    margin: 2rem 0 1rem 0;
}
form select,
button,
input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
    
}
form input{
     border: 1px solid rgb(87, 90, 90);
     font-size: 1rem;
     height: 3rem;
     padding-left: 0.5rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.select-container img{
    /* font-size: 1.5rem;
    width: 1.5rem; */
    max-width: 2rem;
}
.dropdown i{ 
    font-size: 1.5rem;
    margin-top: 1rem;
}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid;
   
}
.select-container select{
    font-size: 1rem;
    width: auto;
}
.msg p{
    margin: 2rem 0;
}
.msg button{
    height: 3rem;
    background-color: blueviolet;
    color: #fff;
    font-size: 1.06rem;
    cursor: pointer;
    
}
